* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Outfit;
  font-weight: 500;
  outline: none;
  scroll-behavior: smooth;
}

:root {
  --main-color: rgb(86 130 3 / 100%);
  --main-color10: rgb(86 130 3 / 10%);
  --main-color15: rgb(86 130 3 / 15%);
  --secondary-color: hsl(91 95% 26% / 100%);
}

body {
  min-height: 100vh;
}

a,
button {
  text-decoration: none;
  cursor: pointer;
  color: inherit;
}

h1,
h2,
b {
  font-weight: bold;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  @media (min-width: 768px) {
    width: 750px;
  }
  @media (min-width: 992px) {
    width: 970px;
  }
  @media (min-width: 1200px) {
    width: 1170px;
  }
  @media (min-width: 1500px) {
    width: 1470px;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}

/* start navbar */
.navbar {
  .container {
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .logo {
      img {
        max-width: 100%;
      }
      @media (max-width: 768px) {
        width: 120px;
      }
    }
    ul.navbar-menu {
      display: flex;
      gap: 20px;
      list-style: none;
      color: #5a5a5a;
      font-size: 20px;
      @media (max-width: 992px) {
        display: none;
      }
      li {
        position: relative;
        user-select: none;
        &.active::after {
          content: "";
          position: absolute;
          width: 100%;
          bottom: -5px;
          left: 0;
          height: 2px;
          width: 100%;
          background-color: #5a5a5a;
        }
      }
    }
    .right-side {
      display: flex;
      gap: 40px;
      align-items: center;
      @media (max-width: 768px) {
        gap: 20px;
      }
      .search-icon {
        cursor: pointer;
        img {
          max-width: 100%;
        }
        @media (max-width: 768px) {
          width: 20px;
        }
      }
      .cart-icon {
        cursor: pointer;
        position: relative;
        img {
          max-width: 100%;
        }
        @media (max-width: 768px) {
          width: 20px;
        }
        .dot {
          position: absolute;
          top: -5px;
          right: -10px;
          border-radius: 50%;
          width: 10px;
          height: 10px;
          background-color: tomato;
          visibility: hidden;
        }
      }
      .user-icon {
        position: relative;
        img.icon-profile {
          cursor: pointer;
        }
        .popup {
          animation: fadeIn 0.5s;
          text-align: center;
          position: absolute;
          top: calc(100% + 10px);
          right: 0;
          border: 1px solid #666;
          padding: 10px;
          border-radius: 6px;
          background-color: white;
          display: grid;
          gap: 10px;
          &.hidden {
            display: none;
          }
          .orders,
          .logout {
            cursor: pointer;
            display: flex;
            align-items: center;
            gap: 5px;
            img {
              width: 30px;
            }
            &:hover {
              span {
                color: var(--main-color);
              }
            }
          }
        }
      }
      button.sign-in-btn {
        font-size: 18px;
        background-color: transparent;
        padding: 8px 32px;
        border-radius: 20px;
        color: #666;
        border: 1px solid #666;
        transition: background-color 0.3s;
        &:hover {
          background-color: var(--main-color10);
        }
        @media (max-width: 768px) {
          font-size: 16px;
          padding: 6px 20px;
        }
      }
    }
  }
}
/* end navbar */

/* start login popup */
.login-popup {
  position: fixed;
  z-index: 100;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.4);
  form {
    background-color: white;
    border-radius: 10px;
    width: fit-content;
    padding: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: fadeIn 1s;
    .row {
      display: flex;
      align-items: center;
      justify-content: space-between;
      h2 {
        font-size: 32px;
        font-weight: 600;
      }
      img.close-btn {
        cursor: pointer;
      }
    }
    .inputs {
      margin-top: 35px;
      display: grid;
      gap: 25px;
      input {
        border: 1px solid #ccc;
        padding: 15px;
        font-size: 18px;
        border-radius: 6px;
        max-width: 350px;
        &[type="submit"] {
          background-color: var(--main-color);
          border: none;
          color: white;
          font-size: 20px;
          cursor: pointer;
        }
      }
    }
    label {
      display: flex;
      margin-top: 25px;
      max-width: 350px;
      p {
        margin-left: 10px;
        font-size: 18px;
        color: #999;
      }
    }
    p.change {
      margin-top: 25px;
      color: #999;
      font-size: 18px;
      span {
        color: var(--main-color);
        cursor: pointer;
      }
    }
    &.hidden {
      display: none;
    }
  }
  &.hidden {
    display: none;
  }
}
/* end login popup */

/* start header */
.header {
  margin-top: 30px;
  margin-left: 15px;
  margin-right: 15px;
  .container {
    background-image: url("../assets/header_img.jpg");
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
    border-radius: 20px;
    padding: 120px;
    @media (max-width: 1500px) {
      padding: 70px;
    }
    @media (max-width: 992px) {
      padding: 30px;
    }
    @media (max-width: 768px) {
      padding: 60px;
    }
    .content {
      max-width: 62%;
      animation: fadeIn 3s;
      h1 {
        color: white;
        font-size: 4.5vw;
        margin-top: 40px;
        @media (max-width: 992px) {
          margin-top: 10px;
        }
      }
      p {
        color: white;
        font-size: min(18px, 2vw);
        margin-top: 20px;
        @media (max-width: 992px) {
          display: none;
        }
      }
      a.view-menu-btn {
        display: inline-block;
        margin-top: 30px;
        padding: 18px 42px;
        font-size: 20px;
        color: #5a5a5a;
        background-color: white;
        border: none;
        border-radius: 40px;
        transition: transform 0.3s;
        &:hover {
          transform: scale(1.03);
        }
        @media (max-width: 992px) {
          font-size: 16px;
          padding: 10px 24px;
          margin-top: 15px;
        }
        @media (max-width: 768px) {
          font-size: 2vw;
          padding: 6px 20px;
        }
      }
    }
  }
}
/* end header */

/* start explore-menu section */
.explore-menu {
  margin-top: 40px;
  .container {
    h2 {
      font-size: 42px;
      color: #333;
    }
    p {
      margin-top: 20px;
      max-width: 750px;
      font-size: 18px;
      color: #444;
    }
    .menu-choices {
      margin-top: 60px;
      display: flex;
      gap: 50px;
      overflow-x: scroll;
      &::-webkit-scrollbar {
        display: none;
      }
      .menu-choice {
        img {
          cursor: pointer;
          width: 7vw;
          min-width: 80px;
          border-radius: 50%;
          transition: 0.1s;
        }
        &.active img {
          border: 4px solid var(--main-color);
          padding: 2px;
        }
        p {
          text-align: center;
          color: #777;
          font-size: 24px;
          font-weight: 400;
        }
      }
    }
    hr {
      margin-top: 50px;
      margin-bottom: 50px;
    }
  }
}
/* end explore-menu section */

/* start top-dishes section */
.top-dishes {
  .container {
    h2 {
      font-size: 42px;
    }
    .cards {
      margin-top: 30px;
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
      gap: 30px;
      .card {
        overflow: hidden;
        border-radius: 20px;
        box-shadow: 0 0 7px 2px rgba(0, 0, 0, 0.1);
        .img-container {
          position: relative;
          * {
            user-select: none;
          }
          img.dish-photo {
            background-position: center;
            background-size: cover;
            width: 100%;
          }
          .add {
            position: absolute;
            bottom: 10px;
            right: 10px;
            cursor: pointer;
          }
          .cart-handler {
            position: absolute;
            bottom: 10px;
            right: 10px;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 10px;
            background-color: white;
            border-radius: 20px;
            padding: 5px;
            .inc,
            .dec {
              cursor: pointer;
            }
          }
          .hidden {
            display: none;
          }
        }
        .info {
          padding: 20px;
          .row {
            display: flex;
            justify-content: space-between;
            align-items: center;
            h3 {
              font-size: 24px;
            }
          }
          .description {
            margin-top: 10px;
            color: #777;
          }
          .price {
            margin-top: 10px;
            color: var(--main-color);
            font-size: 24px;
          }
        }
      }
    }
  }
}
/* end top-dishes section */

/* start footer */
.footer {
  margin-top: 100px;
  background-color: #323232;
  color: #ddd;
  .container {
    padding-top: 60px;
    padding-bottom: 40px;
    .row {
      display: flex;
      justify-content: space-between;
      gap: 100px;
      @media (max-width: 992px) {
        flex-direction: column;
        gap: 40px;
      }
      .column-one {
        p {
          margin-top: 20px;
          max-width: 700px;
          font-size: 18px;
        }
        .social {
          margin-top: 20px;
          display: flex;
          align-items: center;
          gap: 15px;
        }
      }
      .column-two {
        h3 {
          font-size: 32px;
          text-transform: uppercase;
          color: white;
        }
        ul {
          margin-top: 20px;
          list-style: none;
          display: grid;
          gap: 10px;
          font-size: 18px;
        }
      }
      .column-three {
        h3 {
          font-size: 32px;
          text-transform: uppercase;
          color: white;
        }
        p {
          font-size: 18px;
          &:first-of-type {
            margin-top: 20px;
            margin-bottom: 10px;
          }
        }
      }
    }
    hr {
      margin-top: 60px;
    }
    p.copy {
      text-align: center;
      margin-top: 40px;
      font-size: 18px;
      a {
        color: cyan;
      }
    }
  }
}
/* end footer */

/* ================= */
/* === cart.html === */
/* ================= */

/* start cart-items */
.cart-items {
  .container {
    table {
      margin-top: 80px;
      width: 100%;
      /* border-spacing: 0 30px; */
      tr {
        td {
          font-size: 18px;
          font-weight: 400;
          padding: 10px 0;
          border-bottom: 1px solid #ddd;
          img {
            width: 70px;
          }
          &.remove {
            cursor: pointer;
          }
        }
      }
      thead {
        td {
          font-size: 18px;
          color: #888;
          padding-bottom: 30px;
        }
      }
    }
  }
}
/* end cart-items */

/* start cart-totals */
.cart-totals {
  margin-top: 80px;
  margin-bottom: 80px;
  .container {
    display: flex;
    justify-content: space-between;
    .totals {
      width: 45%;
      h2 {
        font-weight: bold;
        font-size: 30px;
        margin-bottom: 10px;
      }
      .row {
        padding: 10px 0;
        font-size: 18px;
        color: #777;
        display: flex;
        justify-content: space-between;
        &:not(:last-of-type) {
          border-bottom: 1px solid #ddd;
        }
      }
      a {
        display: inline-block;
        background-color: var(--main-color);
        border: none;
        color: white;
        font-size: 16px;
        padding: 15px 40px;
        border-radius: 6px;
        margin-top: 10px;
        &:hover {
          background-color: var(--secondary-color);
        }
      }
    }
    .promo {
      width: 45%;
      p {
        font-size: 18px;
        color: #777;
      }
      div.input {
        display: flex;
        margin-top: 15px;
        background-color: #eee;
        border-radius: 6px;
        input {
          border: none;
          padding: 15px;
          font-size: 16px;
          width: 100%;
          border-radius: 6px;
          background-color: #eee;
        }
        button.submit {
          font-size: 16px;
          background-color: black;
          border: none;
          color: white;
          padding: 15px 60px;
          border-radius: 6px;
        }
      }
    }
  }
}
/* end cart-totals */

/* ================== */
/* === order.html === */
/* ================== */

/* start delivery section */
.delivery {
  margin-top: 80px;
  margin-bottom: 80px;
  .container {
    form {
      display: flex;
      justify-content: space-between;
      .left {
        width: 45%;
        display: grid;
        gap: 10px;
        h2 {
          font-size: 30px;
          margin-bottom: 40px;
          font-weight: bold;
        }
        > div {
          display: flex;
          gap: 10px;
        }
        input {
          width: 100%;
          border: 1px solid #ddd;
          padding: 10px;
          border-radius: 6px;
        }
      }
      .right {
        width: 45%;
        .totals {
          h2 {
            font-weight: bold;
            font-size: 30px;
            margin-bottom: 10px;
          }
          .row {
            padding: 10px 0;
            font-size: 18px;
            color: #777;
            display: flex;
            justify-content: space-between;
            &:not(:last-of-type) {
              border-bottom: 1px solid #ddd;
            }
          }
          button.payment-btn {
            display: inline-block;
            background-color: var(--main-color);
            border: none;
            color: white;
            font-size: 16px;
            padding: 15px 40px;
            border-radius: 6px;
            margin-top: 10px;
            &:hover {
              background-color: var(--secondary-color);
            }
          }
        }
      }
    }
  }
}
/* end delivery section */

/* start verify section */
.verify {
  min-height: 50vh;
  display: grid;
  .spinner {
    width: 100px;
    height: 100px;
    place-self: center;
    border: 5px solid #bdbdbd;
    border-top-color: var(--main-color);
    border-radius: 50%;
    animation: rotate 1s infinite;
  }
}
/* end verify section */

/* start my-orders section */
.my-orders {
  min-height: 35vh;
  margin-top: 60px;
  .container {
    display: grid;
    .spinner {
      width: 100px;
      height: 100px;
      place-self: center;
      border: 5px solid #bdbdbd;
      border-top-color: var(--main-color);
      border-radius: 50%;
      animation: rotate 1s infinite;
      margin-top: 100px;
    }
    .orders {
      margin-top: 40px;
      .order {
        border: 1px solid #888;
        padding: 10px 20px;
        display: grid;
        grid-template-columns: 0.5fr 1.5fr 1fr 1fr 1fr 1fr;
        gap: 10px;
        align-items: center;
        margin-top: 20px;
        .status span {
          color: var(--main-color);
          padding-right: 5px;
        }
        button {
          padding: 8px 16px;
          font-size: 15px;
          background-color: var(--main-color10);
          border: none;
          border-radius: 6px;
          &:hover {
            background-color: var(--main-color15);
          }
        }
        @media (max-width: 920px) {
          grid-template-columns: 1fr 1fr;
          gap: 15px;
          img {
            grid-column: 1 / 3;
            justify-self: center;
          }
          button {
            grid-column: 1 / 3;
          }
        }
      }
    }
  }
}
/* end my-orders section */
